In [1]:
from pycaret.classification import *

In [2]:
import pandas as pd
data=pd.read_csv('heart.csv')

In [3]:
setup(data=data,target='target',session_id=123)